/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-purple-dark: hsl(278, 86%, 28%);
  --clr-purple-light: rgb(206, 89, 241);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --radiusl: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 40rem;
  --small-Width: 85vw;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
.search-form {
  background-image: url("nanao.jpg");
  /* RWD */
  /* background-repeat: round space; */
  background-color: blue;
  /* border-radius: var(--radiusl); */
  /* padding-bottom: 6rem; */
  /* margin: 2rem; */
  /* height: 60vh; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* padding: auto; */
  width: 100vw;
}
.search-container {
  /* background-image: url("nanao.jpg"); */
  /* background-repeat: round space; */
  width: 70vw;
  /* height: 40vh; */
  background-color: white;
  border-radius: var(--radiusl);
  opacity: 0.75;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  padding: auto;
}
ul {
  list-style-type: none;
}
li {
  font-weight: bold;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
/* .section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
} */
.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* 
===============
Navbar
=============== 
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.bear {
  height: 40px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

/* 
===============
searchForm
=============== 
*/
.btn-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-mode {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  margin: 0.25rem;
  border-radius: var(--radius);
  /* border-color: var(--clr-primary-4); */
  border: none;
  color: var(--clr-grey-5);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-weight: bold;
}
.btn-mode:hover {
  color: var(--clr-red-light);
}
.btn-mode-active {
  color: var(--clr-red-dark);
  border-bottom-color: var(--clr-red-dark);
  border-bottom: 0.25rem solid var(--clr-red-dark);
  /* font-weight: bold; */
}
.btn {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.15rem;
  border-radius: var(--radius);
  border-color: var(--clr-purple-dark);
  color: var(--clr-purple-dark);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-weight: bold;
}
.active-btn {
  background: var(--clr-purple-dark);
  color: white;
}
.btn:hover {
  background: var(--clr-purple-light);
  color: white;
  border-color: var(--clr-purple-light);
}
.list-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.hotel-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  /* padding: 2rem 2rem; */
  /* text-align: left; */
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.img-container {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}

.hotel-container h4 {
  /* margin-bottom: 1.5rem; */
  margin: 1.5rem;
  font-size: 0.85rem;
  color: var(--clr-grey-5);
}
.hotel-footer {
  color: blue;
}
.hotel-footer header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.hotel-footer h4 {
  margin-bottom: 0.5rem;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  color: var(--clr-grey-3);
  /* background: var(--clr-primary-7); */
  background: transparent;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: var(--transition);
}
.page-active {
  background: var(--clr-primary-4);
  color: var(--clr-white);
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.points-btn {
  color: black;
  background-color: transparent;
  border-color: transparent;
  /* font-size: 2rem; */
  font-weight: bold;
}
/* 
====== 
About
======
*/
.about-section {
  width: var(--small--Width);
  max-width: var(--max-width);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .hotel-container {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .img-container {
    height: 232px;
  }
}
@media screen and (min-width: 1200px) {
  .search-form {
    background-repeat: round space;
  }
  .list-container {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .img-container {
    height: 255px;
  }
}
